<div>
  <!--interpolation for hotelName comes from parent template using input-->
  <h3>Book a room at {{ hotelName }}</h3>

  <form (ngSubmit)="submitBooking()">
    <mat-form-field>
      <mat-label>Your Name:</mat-label>
      <!--twoway binding-->
      <input matInput [(ngModel)]="guestName" name="guestName" required><br>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Number of Rooms:</mat-label>
      <input matInput type="number" [(ngModel)]="roomCount" name="roomCount" required min="1">
    </mat-form-field>
    <button type="submit">Book Now</button>
  </form>


</div>