.homepage {
    overflow-y: scroll;

}


.mattoolbar {
    background-color: royalblue !important;
    
}

.mattoolbar2 {
    display: flex;
    flex-direction: row;
    
}

.jkbooking {
    font-size: large;
    font-weight: bold;
    color: white;
}

.routerlink a.active-link,
.routerlink a:active {
    background-color: #022f83;
    color: white;
    border: 2px solid white;
    border-radius: 40px;

}

.spacer {
    flex: 1;
}


.mainfooter {
    background-color: royalblue;
}