<div class="homepage">
  <section class="mattoolbar">
    <mat-toolbar class="mattoolbar1">
      <span class="jkbooking">JK Booking</span>
    </mat-toolbar>

    <mat-toolbar class="mattoolbar2">

      <div class="routerlink">
        <a mat-button routerLink="add-property">Add Property</a>
        <a mat-button routerLink="booking-details">Booking Details</a>
        <a mat-button routerLink="list-property">List Property</a>
        <a mat-button routerLink="popular-places">Popular Places</a>
        <a mat-button routerLink="reports">Reports</a>
        <a mat-button routerLink="sponsors">Sponsors</a>
        <a mat-button routerLink="user">User</a>
      </div>


      <div class="spacer"></div>

      <div class="routerlink">
        <a mat-button routerLink="manage-roles">Manage Roles</a>
        <a mat-button routerLink="manage-permission">Manage Permission</a>
        <a mat-button routerLink="manage-master-data">Manage Master Date</a>
        <a mat-button routerLink="log-out">Log Out</a>
      </div>
    </mat-toolbar>
  </section>


  <router-outlet></router-outlet>

  <footer class="mainfooter">
    <a mat-button routerLink="aboutus">About Us</a>
    <a mat-button routerLink="privacy-policy">Privacy Policy</a>
    <a mat-button routerLink="terms-and-conditions">Terms and Conditions</a>
    <a mat-button routerLink="faqs">FAQs</a>
    <a mat-button routerLink="contact-us">Contact Us</a>
  </footer>
</div>