.form{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}


    h3{
        
        padding-left:150px;
    }

.addPropertyFormRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:60px;
}

mat-form-field{
    width:100%;
}

button[mat-raised-button] {
  display: block;
  margin: 20px auto;
}

a{
    padding-top:40px;
}

