mat-card{
    padding:50px 40px 30px 30px;
font-weight: bold;

    
}

form, mat-card{
    padding-left: 10rem;
    padding-right:30px;}

.addPropertyFormRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:40px;
}
    