<section>
    <a mat-button routerlink="/basic-details">
        Basic Details
    </a>

    <h3>Property Name and Address</h3>
        

    <form [formGroup]="addPropertyForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="addPropertyFormRow">
                <mat-form-field appearance="fill">
                    <mat-label for="name">Property Name</mat-label>
                    <input matInput type="text" formControlName="propertyName">
                    @if (addPropertyForm.controls['propertyName'].touched &&
                    
                    addPropertyForm.controls['propertyName'].hasError('required'))
                    {<mat-error>Property name is required</mat-error>}

                </mat-form-field>

                <mat-form-field appearance="fill">
                    <input matInput type="text" formControlName="propertyDescription">
                    <mat-error>Property Description should not be above 500 letters</mat-error>
                    <mat-label for="name">Property Description</mat-label>

                </mat-form-field>


                <mat-form-field>
                    <mat-label>ADMIN IMPORTANT NOTES</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="name">ADMIN.HIGHLIGHT TEXT</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>

            <div class="addPropertyFormRow">
                <mat-form-field>
                    <mat-label>Property Type</mat-label>
                    <mat-select>
                        <mat-option value="one">Lodge</mat-option>
                        <mat-option value="two">Cottage</mat-option>
                        <mat-option value="three">Bungalow</mat-option>
                        <mat-option value="four">Villa</mat-option>
                        <mat-option value="five">Resort</mat-option>
                        <mat-option value="six">Dormitory</mat-option>
                    </mat-select>
                    <mat-error>Property type is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Business Type</mat-label>
                    <mat-select>
                        <mat-option value="one">Private Limited</mat-option>
                        <mat-option value="two">Proprietors</mat-option>
                        <mat-option value="three">Partnership</mat-option>
                        <mat-option value="four">Individual</mat-option>
                        <mat-option value="five">Public Limited</mat-option>
                        <mat-option value="six">LLP</mat-option>
                        <mat-option value="six">Trust</mat-option>
                        <mat-option value="six">Society</mat-option>
                        <mat-option value="six">NGO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="addPropertyFormRow">
                <mat-form-field>
                    <mat-label>Address line 1</mat-label>
                    <textarea matInput></textarea>

                    <mat-error>Adress is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adress line 2</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="addPropertyFormRow">
                <mat-form-field>
                    <mat-label for="name">City</mat-label>
                    @if(addPropertyForm.controls['cityName'].touched &&  addPropertyForm.controls['cityName'].hasError('required')   ) 
                    {<mat-error>City is required</mat-error> }
                    <input matInput type="text" formControlName="cityName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="name">Pincode</mat-label>
                    @if(addPropertyForm.controls['pincode'].hasError('required')) 
                    {<mat-error>Pincode is required</mat-error>}
                    <input matInput type="text" formControlName="pincode">
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="name">Latitude</mat-label>
                    <input matInput type="text" formControlName="Latitude">
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="name">Longitude</mat-label>
                    <input matInput type="text" formControlName="Longitude">
                </mat-form-field>

            </div>

        </div>
        <button mat-raised-button>Save and Next</button>
    </form>
</section>