

form, mat-card{
    padding-top:50px;
    padding-left: 10rem;
    padding-right:30px;}

.addPropertyFormRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:60px;
}

mat-form-field{
    width:100%;
}

button[mat-raised-button] {
  display: block;
  margin: 20px auto;
}

a{
    padding-top:40px;
}