.icons{
    display:flex;
    justify-content: center;
    padding:40px;
gap:20px;}

.iconItem{
    display:flex;
    flex-direction: row;
}

span{
    color:red;
    font-weight:bolder;
    font-size: 170%;
    padding-left: 40rem;


}
